<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">

<title>
    {% block title %}

    {% endblock %}
</title>
    {% block extra_css %} {% endblock %}



</head>
<body>

<header>

    <h1><img src="{% static 'myapp/images/itm logo.jpg'%}" height="60" width="500"></h1>

    <nav>
        <a href="{% url 'home'%}">HOME</a>
        <a href="{% url 'signup'%}">REGISTER</a>
        <a href="{% url 'login'%}">LOGIN</a>
    </nav>
    

</header>

    {% block body %}

    {% endblock body %}



</body>
</html>