{%  extends "base.html" %}

{% load static %}

{% block title %}
    Registration
{% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'myapp/css/signup.css'%}">
{% endblock %}


{% block body %}


    <form action="{% url 'signup'%}" method="post">
        {% csrf_token %}
      <div class="middle-heading">
        <h1>REGISTRATION</h1>
    </div>
        <br>
        {% if messages %}
            {% for message in messages %}
                <center>

                    <h3 style="color:red">
                        {{message}}
                    </h3>
                  </center>
                <br>
            {% endfor %}
    {% endif %}

    <input type="text" id="" name="fullname" placeholder="Enter your full name" required>

    <input type="text" id="roll" name="rollno" minlength="13" maxlength="13" placeholder="Enter your Roll number" required>

    <input type="email" id="email" name="email" PLACEHOLDER="Enter your Email address" required>

      <input type="date" id="dob" name="dob" required>
<!--    <label for="gender">Course</label>-->
    <select id="course" name="course" required>
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
        {% endfor %}
    </select>
<!--    <label for="password">Password:</label>-->

        <input type="password" id="password" name="password" placeholder="Enter your password" required>


        <!--    <label for="confirm_password">Confirm Password:</label>-->
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>


<!--        <input type="file" id="profile_photo" name="profile_photo">-->

    <input type="submit" value="Register">
        <center>
                    <h4 style="color:white">
                        Already registered  <a href="{% url 'login'%}"> login !</a>

                    </h4>
                  </center>


</form>




{% endblock body %}
<!--</body>-->
<!--</html>-->
